<!DOCTYPE html>
<html>
    <head>
        <title>{{title}} {{group}}</title>
        <link rel="stylesheet" type="text/css" href="/assets/styles.css">
        <script type="text/javascript" src="/assets/chart_script.js"></script>
    </head>
    <body>
        <h1>{{title}} <span id="groupSelect" class="group-select">{{group}}<i class="arrow-down"></i></span></h1>

        <a id="addItem" href="/add/{{url}}" title="Add a new item">+</a>

        <ul id="groupList" class="group-list invisible">
            <li><a href="/firstparty">First Party Technologies</a></li>
            <li><a href="/techniques">Techniques & Processes</a></li>
            <li><a href="/languages">Languages & Frameworks</a></li>
            <li><a href="/platforms">Platforms</a></li>
            <li><a href="/tools">Tools</a></li>
        </ul>
        <table id="statuses">
            <tr class="headers">
                <td><span class="a">Assess</span></td>
                <td><span class="t">Trial</span></td>
                <td><span class="u">Use</span></td>
                <td><span class="h">Hold</span></td>
                <td><span class="r">Retire</span></td>
            </tr>
            <tr class="counts">
                <td>{{statuses.assess}}</td>
                <td>{{statuses.trial}}</td>
                <td>{{statuses.use}}</td>
                <td>{{statuses.hold}}</td>
                <td>{{statuses.retire}}</td>
            </tr>
        </table>
        <div id="years">
            {{#years}}
            <span class="year" style="width:{{../yearsWidth}}%;">{{year}}</span>
            {{/years}}
        </div>
        <div style="clear:both;"></div>
        <ul class="items">
            {{#items}}
            <li style="width:{{width}}%;" class="tooltip">
                <span class="dot {{status}}"></span>
                {{#if link}}
                <a class="link" href="{{link}}" target="_blank">
                    <img class="repo" src="/assets/{{#if ../isLink}}link{{/if}}{{#unless ../isLink}}git{{/unless}}.png" />
                </a>
                {{/if}}
                {{#unless link}}
                    <img class="repo" src="/assets/{{#if ../isLink}}link{{/if}}{{#unless ../isLink}}git{{/unless}}-fade.png" />
                {{/unless}}
                {{name}}
                <span class="tooltiptext">
                    <span class="notesheader">Notes</span>
                    <br />{{notes}}<br />
                    <span class="lastreviewed">Last reviewed {{reviewed}}</span>
                </span>
            </li>
            <li style="width:{{width}}%;" class="{{sanitizeClass area}} areabar">{{area}}</li>
            {{/items}}
        </ul>
        <p>Filter By</p>
        {{#areas}}
        <a class="filter" href="{{url}}">{{name}}</a>
        {{/areas}}
        {{#if showAll}}
        <a class="filter" href="/chart">All</a>
        {{/if}}
        <p>Sort By</p>
        <a class="filter" href="{{sort.name}}">Name</a>
        <a class="filter" href="{{sort.lifespan}}">Lifespan</a>
        <a class="filter" href="{{sort.area}}">Area</a>
        <a class="filter" href="{{sort.status}}">Status</a>
    </body>
</html>